<%= image_tag "dwayne2.png", style: "width:100vw", class: "dwayne2"%></div>
<div class="wrapper">
  <% @articles.each do |article| %>
    <%= render partial: "./articles/index", locals: {article: article} %>
  <% end %>
</div>

