.subtitle {
  font-size: 16px;
}

.card {
  font-family: "YuMincho +36p Kana";
  font-size: 20px;
  background-image: url("https://cdna.artstation.com/p/assets/images/images/002/115/010/large/hossein-diba-66.jpg?1457457642");
  background-size: cover;
  height: 500px;
}

.action-btn {
  font-size: 14px;
  color: #EFEFEF;
  position: absolute;
  bottom: 0;
  left: 10px;
}

.brand-logo {
  font-family: fantasy;
}
